@use '../variables/colors' as c;
@use '../mixins/media' as m;
@use '../variables/typography' as t;

.header {
  padding: 2rem;

  .header__flex {
    padding: 4rem 0;
    width: 100%;

    .header__image {
      width: 100%;
      height: 50rem;
      background-image: url('@assets/landscape.jpg');
      background-color: c.$dark-color;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &:nth-child(2) {
      padding: 4rem 0 0;

      @include m.smartphone() {
        display: block;
      }
    }

    .header__wrapper {
      width: 50%;
      text-align: justify;

      @include m.smartphone() {
        width: 100%;
      }

      &:nth-child(2) {
        width: 40%;

        @include m.smartphone() {
          padding: 4rem 0 0;
          width: 100%;
        }
      }

      .header__breakline {
        width: 100%;
        height: 4rem;
        background-color: transparent;
      }

      .header__horizontal {
        margin: 1rem 0;
        width: 100%;
        height: .2rem;
        background-color: c.$light-color;
      }
    }

    span ,
    .header__index {
      color: c.$light-color;
      font-family: t.$font-space-grotesk;
      font-weight: 700;
      font-size: 1.1rem;
      line-height: calc(1.1rem * 1.5);
      text-decoration: none;
    }

    .header__logo {
      font-size: 6rem;
      line-height: calc(6rem * 1.1);
      text-transform: uppercase;

      @include m.smartphone() {
        font-size: 4rem;
        line-height: calc(4rem * 1.1);
      }
    }

    .header__index {
      font-size: 3rem;
      line-height: calc(3rem * 1.5);
      text-transform: uppercase;
      text-decoration: .15rem solid c.$light-color underline;

      @include m.smartphone() {
        font-size: 2rem;
        line-height: calc(2rem * 1.1);
      }
    }
  }
}