@use '../variables/colors' as c;
@use '../variables/typography' as t;

.footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      span {
        padding: 0;
      }
    }

    .footer__link,
    span {
      padding: 0 1rem 0 0;
      color: c.$light-color;
      font-family: t.$font-space-grotesk;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: calc(1.25rem * 1.5);
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
